
.background-banner{
    height: 629px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../imagens/contato.png");
    background-position: center;
}

.titulo-formulario{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.formulario{
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
}

.formulario-itens{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.itens{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.input{
    width: 100%;
    height: 57px;
    border: 1px solid #D7D7D7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
}

#nome, #ramo{
    width: 90%;
}

.politica-de-uso>a{
    text-decoration-line: underline;
    display: inline;
}

.botao-formulario{
    align-self: flex-end;
}

.imagem-contato{
    width: 50%;
    margin: 0 0 30px 0;
    border-radius: 100px;
}
.botao-formulario{
    width: 30%;
    padding: 10px;
    margin: 20px 0 0 0;
    font-weight: bold;
    background-color: #836FFF;
    transition: 1s;
}
.botao-formulario:hover{
    cursor: pointer;
    background-color:#6959CD;
}
