
*{
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100%;
    margin: 0px auto;
    max-width: 1200px;
}

body{
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, section, div, h6, h5{
    margin: 0%;
    padding: 0%;
}

.background-banner{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}

.texto-banner, .texto{
    max-width: 100%;
    width: 493px;
    height: auto;
}
