.background-banner{
    height: 629px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../imagens/home.png");
}


.nome-depoente{
    color: #515070;
}

.comentario-depoente{
    color: #898989;
}

.background-sobre{
    width: 100%;
    height: 688px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #F6F6F6;
}

.imagem-sobre{
    width: 465px;
}

.titulo-banner{
    
    font-size: 2.75rem;
}
.texto-banner>h6{
    margin-bottom: 10px;
    font-size: 1.75rem;
}


.background-servico{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: over;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../imagens/portfolio.png");
    justify-content: space-around;
    color: #B8860B;
}

.imagem-depoimento{
    width: 60%;
    height: auto;
}

.background-depoimento{
    width: 100%;
    height: 688px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f0ecece7;
   
}
.antetitulo-banner{
    font-style: bold;
    font-size: 1.333rem;
}

.btn-imagem{
    width: 30px;
}

.href{
    text-decoration: none;
    font-weight: bold;
    color: #B8860B;
}
.href:hover{
    cursor: pointer;
}
.depoimento-titulo-container{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caixa-depoimento{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-depoimento{
    padding: 20px;
    width: 580px;
    background: white;
    text-align: left;
}

.depoente{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.imagem-faleconosco{
    width: 464px;
}

.background-faleconosco{
    width: 100%;
    height: 688px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #F6F6F6;
}

.fale-conosco-item{
    width: 100%;
}

