.background-banner{
    height: 629px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../imagens/portfolio.png");
    background-position: center;
}

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.construcao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}
.conteiner-port{
    display: flex;
    margin: 50px;
}
.imagem{
margin: 50px;
border-radius: 30px;
}
.eletrica{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}
.conteiner-eletrica{
    display: flex;
    margin: 50px;
    align-items: center;
}

.imagemEletrica{
    width: 25%;
    margin: 50px;
    border-radius: 30px;
}
